@model IEnumerable<MVCExample.Models.Match>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchVenue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpponentTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoalsFor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoalsAgainst)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchVenue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpponentTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalsFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalsAgainst)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MatchId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.MatchId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.MatchId })
            </td>
        </tr>
}
    </tbody>
</table>
